<a href="#" class="footer-logo">
    <img src="/images/logo-white.png" alt="logo">
</a>
<ul class="socials">

    {{#if twitter}}
        <li class="socials-item"><a href="{{twitter}}"><span class="social-icon icon-twitter"></span></a></li>
    {{/if}}

    {{#if facebook}}
        <li class="socials-item"><a href="{{facebook}}"><span class="social-icon icon-facebook"></span></a></li>
    {{/if}}

    {{#if vkontakte}}
        <li class="socials-item"><a href="{{vkontakte}}"><span class="social-icon icon-vkontakte"></span></a></li>
    {{/if}}

    {{#if pinterest}}
        <li class="socials-item"><a href="{{pinterest}}"><span class="social-icon icon-pinterest"></span></a></li>
    {{/if}}

    {{#if instagram}}
        <li class="socials-item"><a href="{{instagram}}"><span class="social-icon icon-instagram"></span></a></li>
    {{/if}}

    {{#if googlePlus}}
        <li class="socials-item"><a href="{{googlePlus}}"><span class="social-icon icon-gplus"></span></a></li>
    {{/if}}
</ul>