<div class="heading clearfix">
    <h3>Завершенные фототуры</h3>
    <ul class="year-list">
        {{#each years}}
            <li class="year-link" data-year="{{this}}">{{this}}</li>
        {{/each}}
    </ul>
</div>
<div class="gallery-wrapper">
    <ul class="prev-tours-gallery">
        {{#each tours}}
            <li class="gallery-img-item city-item" data-tourid="{{id}}">
                <div class="slide-wrapper">
                    <div class="gallery-img slider-img" style="background-image: url({{cover}})"></div>
                    <div class="img-caption">
                        <h4 class="tour-name">{{title}}</h4>
                        <p class="tour-date">{{getDate startDate endDate}}</p>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>