<div class="tour-page">
  <ul class="tour-head-imgs">
    {{#each img.head}}
        {{#if this}}
            <li class="tour-head-img" style="background-image: url({{this}})"></li>
        {{/if}}
    {{/each}}
  </ul>
  <article class="tour-desc">
    <h2>{{title}}</h2>
    <p class="tour-text">{{desc}}</p>
    <ul class="tour-prop">
      <li class="tour-prop-item">
        <i class="icon-calendar prop-icon"></i>

        <p class="prop-text">
          <span>Дата</span>
          <span>{{#getDate startDate endDate}}{{/getDate}}</span>
        </p>
      </li>
      <li class="tour-prop-item">
        <i class="hard-lvl-icon prop-icon"></i>
        <p class="prop-text">
          <span>Сложность</span>
          <span>{{complexity}}/5</span>
        </p>
      </li>
      <li class="tour-prop-item">
        <i class="icon-users-1 prop-icon"></i>

        <p class="prop-text">
          <span>Количество мест</span>
          <span>{{places}}</span>
        </p>
      </li>
      <li class="tour-prop-item">
        <i class="icon-dollar prop-icon"></i>

        <p class="prop-text">
          <span>Стоимость</span>
          <span>{{cost}}$</span>
        </p>
      </li>
    </ul>
    <ul class="tour-center-imgs">
        {{#each img.center}}
            {{#if this}}
                <li class="tour-center-img" style="background-image: url({{this}})"></li>
            {{/if}}
        {{/each}}
    </ul>
    <ul class="tour-order">
      {{#each schedule}}
        <li>
          <p>{{this.day}}</p>
            <ul class="day-order">
              {{#each this.schedule}}
                    <li>{{this}}</li>
              {{/each}}
            </ul>
            </li>
        {{/each}}
    </ul>
    <ul class="inclusive-list">
      <li class="inclusive-item">
        <i class="icon-cafe inclusive-icon"></i>

        <div class="inclusive-text">
          <span>Включено</span>
          <ul>
              {{#each inclusive}}
                  <li>{{this}}</li>
              {{/each}}
          </ul>
        </div>
      </li>
      <li class="inclusive-item">
        <i class="icon-cancel inclusive-icon"></i>

        <div class="inclusive-text">
          <span>Не включено</span>
          <ul>
              {{#each inclusive}}
                  <li>{{this}}</li>
              {{/each}}
          </ul>
        </div>
      </li>
    </ul>
    <ul class="tour-footer-imgs">
        {{#each img.footer}}
            {{#if this}}
              <li class="tour-footer-img" style="background-image: url({{this}})"></li>
            {{/if}}
        {{/each}}
    </ul>
  </article>
  {{#isActiveTour startDate}}
    <div class="form-wrapper">
      <form id="apply-form" class="apply-form js-background">
        <input id="name" type="text" placeholder="Имя" name="name" class="form-elem">
        <input id="email" type="text" placeholder="e-mail" name="email" class="form-elem">
        <textarea id="application" cols="20" rows="2" placeholder="Заявка" name="application" class="form-elem"></textarea>
          <input type="text" name="captha" class="form-elem captcha" placeholder="Введите символы">
          <img class="captcha-img" src="/captcha.png"/>
        <input type="submit" class="form-elem submit-btn" value="Отправить">
      </form>
    <div class="form-half"></div>
    </div>
  {{/isActiveTour}}
</div>

