<h2 class="tour-category-header edit-tours-header">Заявки на участие в фототурах</h2>
<table class="table requests-tbl">
    <thead>
        <tr>
            <td>Название</td>
            <td>Дата</td>
            <td>Количество мест</td>
            <td>Всего заявок</td>
            <td>Новых заявок</td>
            <td>Принято заявок</td>
            <td>Отклонено заявок</td>
        </tr>
    </thead>
    <tbody>
    {{#each tours}}
        <tr data-tour-id="{{id}}" class="tour-item">
            <td>{{title}}</td>
            <td>{{#getDate startDate endDate}}{{/getDate}}</td>
            <td>{{places}}</td>
            <td>{{count_all}}</td>
            <td class="new-request">{{count_new}}</td>
            <td class="accepted-request">{{count_approved}}</td>
            <td class="rejected-request">{{count_declined}}</td>
        </tr>
    {{/each}}
    </tbody>

</table>